@import './common/styles/common.scss';

.wrapper {
  @include border-shadow(5px, #e3e3e3);
  background-color: #eeeeee;
  width: 400px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    text-align: center;
    color:#055658;
    margin-bottom: 25px;
  }
}

form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 25px;

  label {
    font-size: 16px;
    margin-bottom: 10px;
    color: $primary-darkcolor;
  }

  input {
    @include border-shadow(3px, #d1d0d0);
    padding: 15px;
    font-size: 18px;
    border: none;
    color: $primary-darkcolor;
  }
}
