p {
  font-size: 16px;
  background-color: #bdb8b8;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  box-shadow: 0 0 10px 3px #d1d0d0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.grades {
  font-size: 16px;
  margin-bottom: 15px;
  color:#575454;

  span {
    color: #ff0000;
  }
}

.red {
  background-color: #e76363;
  color: #fff;
}

.yellow {
  background-color: #f5f599;
  color:#575454;
}

.green {
  background-color: #6ebb6e;
  color: #fff;
}
